p {
  background-color: rgb(241, 226, 247);
  color:black;
  width: auto;
  height: 66px;
  text-align: center;
  font-size: 32px;
}
body {
  background-color:rgb(230, 246, 247);
}


h1 {
  background-color: rgb(140, 165, 211);
}

form {
  background-color: darkkhakis;
}